body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


.table.table-borderless td, .table.table-borderless th {
    border: none;
}

.event-info {
  font-size: 24px;
  white-space: nowrap;
}


.form-group.required .control-label:before {
    content:"*";
    color:red;
}

span.glyphicon-info-sign {
  font-size: 75%;
}
