body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


.table.table-borderless td, .table.table-borderless th {
    border: none;
}

.large-text {
    font-size: 20px;
}


.form-group.required .control-label:before {
    content:"*";
    color:red;
}